


body.green{
    
    background-color: greenyellow;
    
    
}

.tablaFic{
    height: 45%;
    width: 45%;
    font-size: 15px;
    position: absolute;
    top: 58px;
}


.asignatura{
    
    font-size: 15px;
    height: 20%;
    width: 20%;
  
}

.creditos{
    font-size: 15px;
    height: 15%;
    width: 6%;
}

.periodo{
    font-size: 15px;
    height: 15%;
    width: 8%;
}

.detalles{
    font-size: 15px;
    width: 8%;
    height: 8%;
}

.multiple{
   width:4% ;
   text-align:center;
}


.añadir{
    
    position: absolute;
    top: 490px;
    left: 560px;
    text-align:center; 
}

.tablaUniversidad{
    width: 45%;
    height: 45%;
    font-size: 15px;
    position:absolute;
    top: 58px;
    left: 650px; 
}


        
.tablaEquivalencias{
    height: 65%;
    width: 45%;
    position:absolute;
    top: 650px;
    left:10px;
    text-align: center;
    font-size: 15px;
   
}


        
    
