.login{
    
    width: 5%;
    font-size: 14px;
    
}

.nombre{
    
    width: 4%;
    font-size: 14px;
    
}


.apellido1{
    
    width: 5%;
    font-size: 14px;
    
}

.universidad{
    
   width: 7%;
   font-size: 14px;  
    
}


.estado{
    
    width: 6%;
   font-size: 14px;  
    
}

.contratos{
    
    width: 5%;
   font-size: 14px;  
    
}

.cambiar{
    
   width: 3%;
   font-size: 14px;  
}

.multiple{
   width:3% ;
   text-align:center;
}

.cursoAcademico{
    
    
    width: 4%;
    font-size: 14px;
}

.fecha{
    
    width: 4%;
    font-size: 14px;
}

.pais{
    
    width: 5%;
    font-size: 14px;
}
