<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pfc2?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="pojos/MiembroGrupoAsignaturaA.hbm.xml"/>
    <mapping resource="pojos/Pais.hbm.xml"/>
    <mapping resource="pojos/GrupoAsignaturaA.hbm.xml"/>
    <mapping resource="pojos/Equivalencia.hbm.xml"/>
    <mapping resource="pojos/Estado.hbm.xml"/>
    <mapping resource="pojos/Contrato.hbm.xml"/>
    <mapping resource="pojos/Cursoacademico.hbm.xml"/>
    <mapping resource="pojos/EstadoMovilidad.hbm.xml"/>
    <mapping resource="pojos/Movilidad.hbm.xml"/>
    <mapping resource="pojos/Usuario.hbm.xml"/>
    <mapping resource="pojos/Universidad.hbm.xml"/>
    <mapping resource="pojos/Asignatura.hbm.xml"/>
    <mapping resource="pojos/MiembroGrupoAsignaturaB.hbm.xml"/>
    <mapping resource="pojos/GrupoAsignaturaB.hbm.xml"/>
    <mapping resource="pojos/Mensaje.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
